/.vscode
/7주차.mp4
/hello copy.cpp
/hello copy.exe
/hello.cpp
/hello.exe
/recieved_video.avi
/sock_practice
/sock_practice.c
/video - 복사본 (2).avi
/video - 복사본 (3).avi
/video - 복사본 (4).avi
/video.avi
/Winsock-client.cpp
/Winsock-server.cpp
/버퍼100.PNG
/버퍼2.PNG
/버퍼2048.PNG
/캡처.PNG